<% title t('.title') %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

  <p>
    <%= f.label :email %><br />
    <%= f.input_field :email %>
  </p>
  
  <p>
    <%= f.label :password %><br />
    <%= f.input_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.input_field :password_confirmation %>
  </p>

  <p>
    <%= f.input :producer, :label => t('.iamproducer') %>
  </p>
  
  <%= f.submit t('.submit') %> <%= t('or')%> <%= link_to t('cancel'), root_url %>

<% end %>

<%= render :partial => "devise/shared/links" %>
