<% title Combo.model_name.human %>

<h2><%= @combo.name %></h2>

<p>  
  <%= Combo.human_attribute_name("price") %>:
  <%= number_to_francs(@combo.price) %>
</p> 
<p>
  <%= Combo.human_attribute_name("size") %>:
  <%= @combo.size %>
</p>

<%= link_to t('.subscribe_combo'), new_subscription_path, :id => "subscribe_combo" %>